body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 96vh;
  width: 100%;
  overflow: hidden;
}
.circle {
  width: 60vmin;
  height: 60vmin;
  border-radius: 50%;
  animation: rotate 1.8s linear infinite;
  background: conic-gradient(#2f394d, #fff);
}
@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
